apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: buildkit
  namespace: orbit
spec:
  selector:
    matchLabels:
      app: buildkit
  template:
    metadata:
      labels:
        app: buildkit
    spec:
      serviceAccountName: orbit
      containers:
        - name: buildkit
          image: moby/buildkit:latest
          args:
            - --addr
            - tcp://0.0.0.0:1234
            - --oci-worker-no-process-sandbox
          ports:
            - containerPort: 1234
          securityContext:
            privileged: true
          volumeMounts:
            - name: cache
              mountPath: /var/lib/buildkit
          resources:
            requests:
              memory: 256Mi
              cpu: 100m
            limits:
              memory: 2Gi
              cpu: "2"
      volumes:
        - name: cache
          persistentVolumeClaim:
            claimName: buildkit-cache
