apiVersion: v1
kind: Service
metadata:
  name: oauth2-proxy
  namespace: orbit
spec:
  selector:
    app: oauth2-proxy
  ports:
    - port: 4180
      targetPort: http
      protocol: TCP
      name: http
