apiVersion: v1
kind: Service
metadata:
  name: repository-service
  namespace: orbit-repository-service
  labels:
    app.kubernetes.io/name: repository-service
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 50051
      targetPort: 50051
      protocol: TCP
      name: grpc
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: repository-service
    app.kubernetes.io/component: backend
