apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: redis-secrets
  namespace: orbit-redis
spec:
  refreshInterval: "1h"
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-cluster-secret-store
  target:
    name: redis-secrets
  data:
    - secretKey: password
      remoteRef:
        key: REDIS_PASSWORD
