# Traefik dynamic configuration for Orbit local development
#
# With Orbstack, Traefik is accessible at: traefik.orbit.orb.local
# Kafka clients connect to: traefik.orbit.orb.local:9092
#
# When Bifrost Kafka proxy is implemented, change redpanda:9092 to bifrost:9092
# Bifrost will route to the correct virtual cluster based on credentials.

tcp:
  routers:
    kafka:
      entryPoints:
        - kafka
      rule: "HostSNI(`*`)"
      service: redpanda

  services:
    # Direct to Redpanda while Bifrost Kafka proxy is being developed
    # TODO: Change to bifrost:9092 when Kroxylicious integration is complete
    redpanda:
      loadBalancer:
        servers:
          - address: "redpanda:9092"

    # Bifrost proxy - enable when Kafka proxy is implemented
    # bifrost:
    #   loadBalancer:
    #     servers:
    #       - address: "bifrost:9092"

http:
  routers:
    # Traefik dashboard
    dashboard:
      rule: "Host(`traefik.orbit.orb.local`)"
      service: api@internal
      entryPoints:
        - web
